{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  .picture-circle, .picture-circle--medium, .picture-circle--small {
    border-radius: 100%;
    width: 150px;
    height: 150px; }
    .picture-circle--medium {
      width: 136px;
      height: 136px; }
      .username{
          display: flex;
      }
   </style>
{% for bsn in searched_bsns %}
<div class="row profile-settings" style="left:50%;">
  <div class="col-xs-12">
    <div class="profile-pic-name">
        {{ bsn.bsn_name }}
        <h2>Owner: {{ bsn.bsn_user }}</a> </h2>
      <span class="username"></span>
    </div>
  
  </div>
</div>
{% endfor %}
{% endblock %}